<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>null.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64559E9A1BD3B7F600FA6E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64559EB31BD3B7F600FA6E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64559EBE1BD3B7F700FA6E1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
